body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  background-image: url("earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #ccc;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translateX(-50%) translateY(4cm);
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem 0;
  width: 100%;
  position: relative;
}

.divider {
  width: 1px;
  background-color: #ccc;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin-left: 51%;
  align-items: flex-start;
}

.search-form form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

form input[type="search"],
form input[type="submit"] {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
}

form input[type="search"] {
  width: 200px;
}

form input[type="submit"] {
  background-color: rgb(135, 168, 250);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: blue;
}

.weather-info {
  text-align: left;
  max-width: 300px;
  margin-left: 0;
}

.weather-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weather-row h2 {
  font-size: 2rem;
  font-weight: bold;
}

.weather-row .temperature {
  font-size: 2rem;
  font-weight: bold;
  color: #ff5722;
}

footer {
  border-top: none;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
}
